<div class="footer wrapper">
<div class="social-links">
    <ul class="social-media-list">
        {{- range $index, $key := .Site.Params.Social -}}
            <li><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></li>
        {{- end -}}
    </ul>
</div>
	<nav class="copyright">
		<div>{{ .Date.Year}} {{ with .Site.Copyright }} {{ . | safeHTML }} {{ end }}</div>
	</nav>
<div class="site-visit">
    <span id="busuanzi_container_site_pv">
        <i data-feather="compass"></i><span id="busuanzi_value_site_pv"></span>
    </span>
    <span id="busuanzi_container_site_uv">
        <i data-feather="users"></i><span id="busuanzi_value_site_uv"></span>
    </span>
</div>
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}

{{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}
